<!DOCTYPE html>
<html   lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

    <form method="POST" th:action="@{/newuser}" th:object="${user}">

        <p>
            RealName: <input type="text" th:field="*{realName}" />
            <span th:if="${#fields.hasErrors('realName')}"
                  th:errors="*{realName}">REAL NAME ERROR</span>
        </p>

        <p>
            UserName: <input type="text" th:field="*{userName}" />
            <span th:if="${#fields.hasErrors('userName')}"
                  th:errors="*{userName}">USER NAME ERROR</span>
        </p>

        <input type="submit" value="Submit" />

    </form>

</body>
</html>